/* base.css */
/* css for all pages */

/**
 * NOTE: The styles in this file are copied in the UEE wordpress theme:
 * - base.css
 * - topnav.css
 * - footer.css
 * Changes to those files will need to be replicated here to maintain a
 * a consistent look and feel
 */


/* Some global settings */
body {
padding:0;
margin:0;
}

body #wrapper {
width:100%;
margin:auto;
}

body * {
font-family: Arial, Helvetica, "sans-serif";
}

body a {
color:#7B96B1;
color:#5D737C;

}

a img {
	border:none;
}

div.clearfix {
	clear:both;
}

div.column_half {
	padding:2%;
	width:46%;
	float:left;
}

/* Banner */
div#head #banner-wrapper {
background-image:url('/graphics/UEE_BannerRev2_Beta.jpg');
background-position:center center;
background-repeat:repeat-x;
height:125px;
}

div#head #banner-wrapper a {
display:block;
margin:auto;
width:100%;
}

div#head #banner-wrapper a img {
text-align:center;
margin:auto;
border:none;
}

/* Content area */
div#content {
clear:both;
width:960px;
margin:auto;
padding-top:1%;
min-height:550px;
}

div#content * {
color:rgb(70,70,70);
}
