/* footer.css */
/* css for all pages */

/**
 * NOTE: The styles in this file are copied in the UEE wordpress theme:
 * - base.css
 * - topnav.css
 * - footer.css
 * Changes to those files will need to be replicated here to maintain a
 * a consistent look and feel
 */

/*
div#footer {
	width:100%;
	background-color:rgb(70,70,70);
	clear:both;
	min-height:3em;
}

div#footer-contact {
	width:960px;
	margin:auto;
	clear:both;
	background-color:rgb(70,70,70);
	color:rgb(204,204,204);
	font-size:0.6em;
}

div#footer-contact a {
	color:rgb(204,204,204);
	text-decoration:none;
}

#footer .column_half {
padding:0;
width:50%;
}

*/
footer#footer {
    background-color: #464646;
    clear: both;
    min-height: 3em;
    width: 100%;
}
footer #footer-wrapper {
    background-color: #464646;
    clear: both;
    color: #CCCCCC !important;
    font-size: 0.7em;
    margin: auto;
    width: 960px;
}
footer #footer-wrapper a {
    color: #CCCCCC !important;
    text-decoration: none;
}
#footer .column_half {
    padding: 0;
    width: 50%;
}
#footer .col-1 {
    background: none repeat scroll 0 0 #545454;
    float: left;
    margin: 0 2% 5%;
    padding: 2% 2%;
    width: 20%;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
}
#footer aside#sidebar .widget {
   /* border: 1px solid #CCCCCC;*/
    float: left;
    margin: 0px 1%;
    padding: 0;
    width: 23%;
    padding: 3% 0px;
}
#footer aside#sidebar .widget ul {
	list-style-type: none;
	padding: 0px;
}
#footer aside#sidebar .widget ul li {
	padding: 0.06em 0px;
}

#footer aside#sidebar .widget h3 {
	border-bottom: 1px solid #888888;
    color: #FFFFFF;
    font-family: "Arial", sans-serif;
    font-size: 1.1em;
    font-weight: normal;
    padding-bottom: 0.5em;
    margin-bottom: 0.8em;

}

#footer aside#sidebar {
float: left;
width: 76%;
}


