fieldset label {
	display:block;
	float:left;
	width:12em;
	background-color:rgb(220,220,220);	
}

form fieldset label {
	display:block;
	float:left;
	width:12em;
	background-color:rgb(220,220,220);
}

fieldset select {
	width:90%;
}

form fieldset p input, form fieldset select, form fieldset textarea {
	width:20em;
}

form fieldset textarea {
	height:5em;
}

label.radiolabel {
	width:4em;
	float:left;
	background-color:white;
}

input[type='radio'] {
	width:2em;
	float:left;
}

form fieldset p {
	clear:both;
	float:left;
	margin-top:0;
	margin-bottom:0;
	padding-top:0;
	padding-bottom:0;
}

div.timerow {
	clear:both;
}

table.dbrows {
	width:100%;
}

table.dbrows th {
	text-decoration:underline;
}

table.dbrows tr td {
	border-bottom: 1px dotted black;
}

h1.tablename {
	text-transform:uppercase;
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0.2em;
	margin-bottom:0.2em;		
}

a.backlink {
	text-transform:uppercase;
	text-decoration: none;
	font-size:0.8em;
}

a.backlink:hover, a.backlink:active, a.backlink:focus {
	text-decoration:underline;
}

a.selected {
	font-weight:bold;
	font-size:1.2em;
}

p#insertbox, form#searchbox {
	width:50%;
	float:left;
}

form#searchbox {
	text-align:right;
}

form.dataentry fieldset {
	width:100%;
	clear:both;
	float:left;
	margin-bottom:1em;
}

form.dataentry fieldset legend {
	;
}

form.dataentry p.fieldsetlabel {
	border:1px solid black;
	width:100%;
	text-transform:uppercase;
	margin-bottom:0;
	padding-bottom:0;
}

form.dataentry p {
	float:left;
	clear:both;
	margin-top:0;
	margin-bottom:1em;
	width:100%;
}

form.dataentry p label {
	display:block;
	float:left;
	width:7em;
}

form.dataentry input[type="text"] {
	width:20em;
	margin-right:5px;
	float:left;
}

form.dataentry a.addbutton {
	width:20px;
	float:left;
	margin-right:5px;
}

form.dataentry a.addtext {
	width:5em;
	float:left;
}

form.dataentry select {
	width:15em;
	display:block;
	float:left;
}

form.dataentry textarea {
	width:35em;
	height:8em;
}

form.dataentry p.submit {
	width:25em;
	text-align:right;
}

div#treeView ul {
	padding:0;
	margin:0;
	list-style-type:none;
	text-decoration:none;
}

div#treeView ul.subbranch {
	padding-left:2em;
}

table.dbrows thead tr th.sorting, table.dbrows thead tr th.sorting_asc {
	cursor:pointer;
	background:transparent url(/graphics/down.gif) no-repeat scroll left center;
} 

table.dbrows thead tr th.sorting_desc {
	cursor:pointer;
	background:transparent url(/graphics/up.gif) no-repeat scroll left center;
} 

table.dbrows thead tr th {
	text-align:left;
}

table.dbrows thead tr th.sorting, table.dbrows thead tr th.sorting_desc, table.dbrows thead tr th.sorting_asc {
	text-align:left;
	padding-left:2em;
}

div.dataTables_length, div.dataTables_filter {
	width:50%;
	float:left;
}

div.dataTables_filter {
	text-align:right;
}

div.dataTables_info {
	font-style:italic;
	width:50%;
	float:left;
}

div.dataTables_processing {
	clear:both;
}

div.dataTables_paginate {
	width:50px;
	float:right;
	text-align:right;
}

div.paginate_disabled_next, div.paginate_enabled_next {
	width:20px;
	height:20px;
	margin-left:2px;
	float:left;
	text-align:right;
	background-image:url(/graphics/more.gif);	
	cursor:pointer;
}

div.paginate_disabled_previous, div.paginate_enabled_previous  {
	width:20px;
	height:20px;
	margin-left:2px;
	float:left;
	text-align:right;
	background-image:url(/graphics/less.gif);	
	cursor:pointer;
}

table.dbrows tbody tr.odd td {
	background-color:rgb(230,230,230);
}

table.dbrows tbody tr.even td {
	background-color:rgb(250,250,250);
}

div.fifth_column {
	width:20%;
	float:left;
}

div.quarter_column {
	width:25%;
	float:left;
}

div.third_column {
	width:33%;
	float:left;
}

div#map {
	width:500px;
	height:300px;
	border: 1px solid black;
	display:block;
	float:left;
	
}

div.geomarker-data {
	width:500px;
	height:250px;
	overflow:auto;
	border:1px solid black; 
	margin-left:12em;	
}

div#geodata p.geomarker-data {
	width:500px;
	height:300px;
	overflow:auto;
	float:left;
}

div.geomarker-geodata {
	width:500px;
	float:left;
}

div.geomarker-geodata p {
	width:50%;
	float:left;
	clear:none;
}

div.geomarker-geodata p.marker-count {
	width:75%;
	padding-top:0;
	padding-bottom:0;
	margin-top:0;
	margin-bottom:0;
}

div.geomarker-geodata p input[type="text"] {
	width:90%;
}

div.geomarker-geodata p label{
	width:80%;
}

div.places-checkbox-box {
	border:1px solid rgb(220,220,220);
	padding-top:2px;
	width:90%;
	height:100px;
	overflow:auto;	
}

div.places-checkbox-box input[type="checkbox"] {
	width:1em;
	float:left;
}

div.places-checkbox-box label {
	width:7em;
	display:block;
	float:left;
}

div.places-checkbox-box p {
	width:95%;
	float:left;
	padding-top:0;
	margin-top:0;
	padding-bottom:2px;
	margin-bottom:2px;
}

p.geomarker-data {
	margin-left:15em;
}

label.geomarker-label {
	visibility:hidden;
}

div.column_half {
	width:46%;
	padding:2%;
	float:left;
}

ul.tabs {
	clear:both;
	padding-left:0;
	margin-left:0;
	width:100%;
	border-bottom:1px solid gray;
}

ul.tabs li {
	display:inline;
	width:15%;
	float:left;
	border:1px solid gray;
	padding:2px;
	background-color:rgb(240,240,240);
	text-align:center;
}

ul.tabs li a {
	color:black;
}

ul.tabs li.selected {
	font-weight:bold;
	background-color:rgb(240,200,200);
}

#parent_places div.places-checkbox-box label {
	width:10em;
}
