/* topnav.css */
/* Public pages navigation css */

/**
 * NOTE: The styles in this file are copied in the UEE wordpress theme:
 * - base.css
 * - topnav.css
 * - footer.css
 * Changes to those files will need to be replicated here to maintain a
 * a consistent look and feel
 */

div#topnav {
width:100%;
background-color:rgb(70,70,70);
text-align:right;
clear:both;
float:left;
padding-bottom:0.1em;
margin-top:0;
padding-top:0.1em;
border-top:0;
font-size:0.8em;
}

div#topnav * {
padding:0;
margin:0;
}

div#topnav div#topnav-wrapper {
width:960px;
/*
padding-top:0.5em;
padding-bottom:0.5em;
*/
margin:auto;
}

form#topnav-search {
	width:25%;
	float:right;
	vertical-align:middle;
}

form#topnav-search label {
	display:none;
}

form#topnav-search input {
	vertical-align:middle;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

form#topnav-search input[type='image'] {
}

ul#topnav-list {
	color:rgb(204,204,204);
	text-align:right;
	width:75%;
	float:right;
	padding:0;
}

ul#topnav-list li {
	display:inline;
	width:14%;
	display:block;
	text-align:left;
	float:left;
}

ul#topnav-list li a {
	color:rgb(204,204,204);
	text-decoration:none;
	text-transform:capitalize;
}

ul#topnav-list li a.current {
color:white;
}

#topnav-list li a:hover,
#topnav-list li a:focus,
#topnav-list li a:active {
color:white;
}

div#topnav, .top-nav {
width:100%;
background-color:rgb(70,70,70);
text-align:right;
clear:both;
float:left;
margin-top:0;
/*
padding-bottom:0.1em;
padding-top:0.1em;
*/
border-top:0;
font-size:0.8em;
}

div#topnav *, .top-nav * {
padding:0;
margin:0;
}

div#topnav div#topnav-wrapper, nav#nav {
width:960px;
/*padding-top:0.5em;
padding-bottom:0.5em;*/
margin:auto;
}

form#topnav-search {
	/*
	width:25%;
	float:right;
	vertical-align:middle;
	*/
	float: right;
    margin: 0.4%;
    vertical-align: middle;
   width: 17%;
}

form#topnav-search label {
	display:none;
}

form#topnav-search input {
	vertical-align:middle;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

form#topnav-search input[type='image'] {
}

ul#topnav-list, nav#nav ul {
	color:rgb(204,204,204);
	text-align:left;
	width:80%;
	float:left;
	padding:0;
	padding-top:0.4em;
}

ul#topnav-list li, nav#nav ul li {
	width:auto;
	display:block;
	text-align:center;
	float:left;
}

ul#topnav-list li a, nav#nav ul li a {
	color:white;
	text-decoration:none;
}

ul#topnav-list li a.current, nav#nav ul li a.current {
color:white;
}

#topnav-list li a:hover,
#topnav-list li a:focus,
#topnav-list li a:active,
nav#nav ul li a:hover,
nav#nav ul li a:focus,
nav#nav ul li a:active {
color:white;
}
/*----------- [NAV MENU] ---------------------*/

nav#nav ul {
list-style : none;
padding : 0;
/*margin : 21px 0px;
font-family: "Trebuchet MS", Arial;
font-size : 13px;*/
font-weight:normal;
text-transform:capitalize;

}

nav#nav ul li {
background-image : none;
padding-left : 0;
padding-right : 0;
margin : 0;
white-space : normal;

}
nav#nav ul li a {
display : block;
padding:0.5em 0.9em;
text-decoration : none;
color : #fff;
}
nav#nav ul li a {
width : auto;
}
nav#nav ul li a:hover, nav#nav ul li.active a , nav#nav ul li.active ul li.active a, nav#nav ul li.active ul li.active ul li.active a {
color : #ccc;
background : #383838;
}

nav#nav ul li.active ul li.active a:hover, nav#nav ul li.active ul li.active ul li.active a:hover {background:#485359;}

nav#nav ul li.active ul a, nav#nav ul li.active ul li.active ul a {color:#ffffff;}

/******/

nav#nav ul li,
nav#nav ul ul {
 list-style: none;
 margin: 0;
 padding: 0;
}

nav#nav ul {
 position: relative;
 z-index: 597;
 float: left;
}

nav#nav ul li {
 float: left;
 /*line-height: 1.3em;*/
 vertical-align: middle;
 zoom: 1;
}

nav#nav ul li.hover,
nav#nav ul li:hover {
 position: relative;
 z-index: 599;
 cursor: default;
 background : #383838;
}

nav#nav ul ul {
 visibility: hidden;
 position: absolute;
 top: 100%;
 right: 10;
 z-index: 598;
 width: 100%;
font-weight:100;
}

nav#nav ul ul li {
 float: none;
}

nav#nav ul ul ul {
 top: 1px;
 right: 99%;
}

nav#nav ul li:hover > ul {
 visibility: visible;
}

/******/

nav#nav ul li ul{
		background:#383838;
		display:none;
		height:auto;
		padding:0px;
		margin:0px;
		border:0px;
		position:absolute;
		width:200px;
		z-index:200;

		}
	nav#nav ul li:hover ul{
		display:block;

		}
	nav#nav ul li li {
		display:block;
		float:none;
		margin:0px;
		padding:0px;
		width:auto;
		}
	nav#nav ul li:hover li a{
		background:none;

		}
nav#nav ul li ul a{
	display:block;
	font-size:12px;
	font-style:normal;
	margin:0px;
	padding:14px 10px;
	text-align:left;
	line-height:13px;
}
nav#nav ul li ul a:hover, nav#nav ul li ul li:hover a{
	background:#485359;
	border:0px;
	color:#ccc;
	text-decoration:none;
}

nav#nav ul li ul li ul a:hover, nav#nav ul li ul li ul li:hover a{
	background:#485359;
	border:0px;
	color:#ccc;
	text-decoration:none;
}


/*---------- [ SEARCH STYLES ] ----------------------------*/
#search-content, #search-content form#searchform {
  width: 100%;
  text-align:center;
}
nav#nav form#searchform {
    width: 190px;
    float: left;
}
nav#nav form#searchform div {
    margin: 6px 0px;
    width: 190px;
}

nav#nav form#searchform div label.screen-reader-text {
    display: none;
}

#search-content label {
display: block;
color: rgb(74,99,117);
font-size: 20px;
font-family: "Palatino";
font-stretch: ultra-condensed;
}

#search-content input[type="search"] {
  width: 36%;
  padding: 10px;
}
#search-content input[type="submit"] {
float:none !important;
}

