	<div id='subjectindex' >
		<h3>subject browse</h3>
		<ul id='subjects'>
		<?php
			$this->listAllSubjects();
		?>
		</ul>
	</div>
	
	<div id='brief' >
		<p><?php $this->displayBrief(); ?></p>
	</div>

	<div class='clearfix'>
		<?php /* $this->category->getTree4(); */ ?>
	</div>
	
	<div class='clearfix'></div>
<div id='showinitial' ><?php echo $_GET['category'];?></div>
<script type="text/javascript" src="<?php echo SITE_PATH; ?>/js/subjectbrowse.js" ></script>
