@import "./banner.css";
@import "./common.css";

body * {
font-family: Arial, Helvetica, "sans-serif";
color:rgb(70,70,70);
}

*:lang(egy) { 
	font-family: "Trlit2_CG Times Italic", "Trlit_CG Times Italic", "Transliteration", serif;
}

#content {
clear:both;
}

div#content div#leftcol {
width:18%;
max-width:170px;
padding:1%;
padding-top:0;
padding-left:0;
float:left;
}

div#content  div.section-head {
clear:both;
}

div#content div.section-head a.section-toggle {
width:25px;
padding-right:0px;
float:left;
}

div#content div.section-head h3.article-section-title {
color:rgb(74,99,117);
font-weight:bold;
text-transform:uppercase;
font-size:0.8em;
padding-top:3px;
margin-top:0;
margin-bottom:0;
clear: none;
}

div#content div#toc-wrapper {
width:14%;
max-width:170px;
padding-left:0;
margin-left:0;
position:fixed;
overflow:auto;
padding-top:1%;
}

div#content div#toc-wrapper * {
max-width:170px;
}

div#content div#toc {
clear:both;
}

div#content div#toc ul { 
list-style-type: none;
padding: 0px;
margin: 0px;
}

div#content div#toc ul li {
background-image: url('/graphics/Bullet_Blank.png');
background-repeat: no-repeat;
background-position: 0px 50%; 
padding-left: 1em;
padding-top:0.1em;
padding-bottom:0.1em;
}

div#content div#toc ul li:hover {
background-image: url('/graphics/Bullet_Filled.png');
}

div#content div#toc ul li a {
font-size:0.8em;
display:block;
max-width:140px;
color:rgb(70,70,70);
text-decoration:none;
}

div#content div#toc ul li a:hover,
div#content div#toc ul li a:focus,
div#content div#toc ul li a:active {
color:rgb(105,128,140);
color:#5D737C;
max-width:140px;
text-decoration:underline;
}

div#content #maincol * {
text-align:justify;
}

div#content div#maincol {
width:58%;
padding:1%;
padding-left:0.9%;
padding-right:0.9%;
border-left:1px solid rgb(220,220,220);
border-right:1px solid rgb(220,220,220);
padding-top:0;
}

div#content div#maincol h3#article-names {
padding-top:0%;
font-size:1em;
color:rgb(70,70,70);
text-transform:none;
}

div#content div#maincol p#article-author {
font-size:0.8em;
}

div#content div#maincol div#article-keywords {
font-size:0.8em;
}

div#content div#maincol div#article-keywords span{
font-size:0.9em;
}

div#content div#maincol div.section-head + div.article-section {
padding-top:0.2em;
padding-bottom:1em;
}

div#content div#maincol div#arabic-section p:first-child {
padding-top:0.2em;
margin-top:0;
}

div#content div#maincol div#entrytext-section div.tei-p:first-child {
padding-bottom:1em;
}

div#content div#maincol div#entrytext-section div.section-head + div.tei-p {
padding-top:1em;
padding-bottom:1em;
}

div#content div#maincol div#entrytext-section div.tei-p + div.tei-p {
padding-bottom:1em;
}

div#content div#maincol div#bibnotes-section div.tei-p:first-child {
padding-bottom:1em;
}

div#content div#maincol div.tei-p {
font-size:0.8em;
line-height: 120%;
}

div#content div#maincol a.glossref {
color:rgb(70,70,70);
color:rgb(105,128,140);
color:#5D737C;
text-decoration:none;
border-bottom:1px dotted rgb(105,128,140);
cursor:pointer;
}

div#content div#maincol a.biblioref {
text-decoration:none;
border-bottom:1px dashed rgb(105,128,140);
color:black;
color:rgb(70,70,70);
color:rgb(105,128,140);
color:#5D737C;
cursor:pointer;
}

div#content div#maincol a.articleref {
font-weight:normal;
color:#5D737C;
}

div#content div#maincol div.figure {
display:block;
max-width:210px;
padding:5px;
text-align:center;
margin-top:1em;
clear:both;
}

div#content div#maincol div.figure img {
padding:1px;
border:1px solid gray; 
background-color:white;
}

div#content div#maincol div.figure div.tei-p {
text-align:left;
color:#808080;
}

div#content div#maincol div#mini-map {
width:100%;
height:250px;
clear:both;
}

div#content div#maincol div#minimap-section {
font-size:0.8em;
}

div#content div#maincol div#article-references {
font-size:0.8em;
}

div#content div#maincol div#article-references div.reference {
clear:both;
}

div#content div#maincol div#article-references div.reference span.authors,
.biblio-popup span.authors {
font-weight:bold;
width:100%;
}

div#content div#maincol div#article-references div.reference span.year {
width:10%;
display:block;
float:left;
}

div#content div#maincol div#article-references div.reference p.bibliography,
.biblio-popup p.bibliography {
width:90%;
float:left;
padding-top:0;
margin-top:0;
}

div#content div#rightcol {
font-size:0.8em;
width:18%;
max-width:170px;
padding:1%;
padding-top:0;
padding-right:0;
float:right;
}

div#content div#rightcol div#popup-wrapper {
width:14%;
max-width:170px;
padding-right:0;
margin-right:0;
padding-top:1%;
position:fixed;
overflow:auto;
}

div#content .biblio-popup span.year, .biblio-popup p.bibliography {
width:100%;
}

div#content div#maincol div#relatedimages-section a.image-wrapper {
	display:block;
	width:120px;
	height:120px;
	padding:5px;
	border:1px solid gray;
	background-color:rgb(220,220,220);
	margin:1px;
	text-align:center;
	float:left;
}

div#content div#maincol div#relatedimages-section img.related-image {
	max-width:120px;
	max-height:120px;
	vertical-align:middle;
}

div#content div#maincol div#relatedimages-section form {
clear:both;
text-align:right;
}

div#content div#rightcol #article-actions {
padding-bottom:1.5em;
overflow:hidden;
}

div#content div#rightcol #article-actions a {
display:block;
color:rgb(74,99,117);
background-color:white;
font-size:0.8em;
text-transform:uppercase;
text-align:left;
text-decoration:none;
clear:both;
max-width:150px;
}

div#content #article-actions a img {
}

div#content div#rightcol span.glossary-term,
div#content div#rightcol .biblio-popup .authors,
div#content div#rightcol .biblio-popup .year {
font-weight:normal;
color:rgb(74,99,117);
}

div#content div#rightcol .biblio-popup .bibliography {
padding-top:1em;
}

div#content div#myuee {
	display:none;
	z-index:2;
	width:18%;
	padding:1%;
	height:100%;
	overflow:auto;
	position:fixed;
	left:80%;
	top:0;
	border-left:1px solid gray;
	background-color:rgb(230,230,230);
	font-size:0.8em;
}

div#content div.lightbox-layer {
width:960px;
height:100%;
margin:auto;
position:fixed;
top:0;
background-color:black;
text-align:center;
z-index:3;
display:none;
}

div#content div.lightbox-layer p {
margin-top:2em;
text-align:center;
}

div#content img.inline-lightbox {
border: 5px solid white;
width:auto;
display:block;
text-align:center;
background-color:white;
}

h3.english-title {
	font-size: 1.8em;
    margin-bottom: 0.5em;
}

#article-author {
	font-weight: bold;
	margin-top: 0.5em;
}
