body * {
font-family: Arial, Helvetica, "sans-serif";
}

body div.tei-p, #arabic-section p {
	font-size:0.8em;
}

body div.tei-p {
margin-bottom:1em;
}

body {
	background-color:rgb(240,240,240);
}

div#wrapper {
	background-color:white;
}

p#article-author {
	color:gray;
}

span.author-name {
	font-weight:bold;
}

div.section-head {
	width:100%;
	float:left;
	clear:both;
}

a.section-toggle img {
	font-size:0.9em;
	max-width:5%;
	float:left;
	padding-right:1%;
	padding-top:4px;
}

h3.article-section-title {
	color:rgb(123,150,177);
	font-size:0.9em;
	font-weight:bold;
	width:90%; 
	border-bottom:1px solid gray;
	float:left;
	padding-top:0;
	margin-top:0;
}

a.glossword {
	text-decoration:none;
	border-bottom:1px dotted gray;
	color:black;
	cursor:pointer;
}

div.glossdef, div.glosswrap {
display:inline;
}

.glossdef {
	z-index:1;
	width:15em;
	padding:5px;
	position:absolute;
	border:1px solid black;
	background-color:rgb(220,220,220);
	color:black;
}

.glossdef strong {
	width:50%;
	float:left;
}

.glossdef a.close {
	width:30%;
	font-size:0.8em;
	text-align:right;
	float:left;
}

.glossdef br {
	clear:both;
}

.biblpop ul , .glossdef ul{
	padding-left:1.5em;
}

.biblpop {
	z-index:1;
	width:20em;
	padding:5px;
	position:absolute;
	border:1px solid black;
	background-color:rgb(220,220,220);
	color:black;
}

.biblpop a.close {
	width:30%;
	font-size:0.8em;
	text-align:right;
	float:right;
}

.biblpop br {
	clear:both;
}


a.articleref {
	font-weight:bold;
}

a.biblref {
	text-decoration:none;
	border-bottom:1px dashed gray;
	color:black;
	cursor:pointer;
}

a.biblref img {
	height:1em;
}

div.reference {
	padding-bottom:0.5em;
	float:left;
	clear:both;
}

div.reference span.authors, div.reference span.year {
	font-size:0.8em;
}

div.reference span.year {
	width:10%;
	display:block;
	float:left;
}

.biblpop span.year {
	width:15%;
	display:block;
	float:left;
}

div.reference p, div.reference span, span.biblpop span {
	padding-top:0;
	padding-bottom:0;
	margin-top:0;
	margin-bottom:0;
}

div.reference p.bibliography {
	width:90%;
	float:left;
	font-size:0.8em;
}

.biblpop span.bibliography {
	width:85%;
	float:left;
}

ul.articlecount {
	display:none;
}

.biblpop span.bibliography ul.articlecount {
	display:block;
}

div.reference span.monogr-title, span.biblpop span.monogr-title {
	font-style:italic;
}

span.foreign {
	font-style:italic;
}

a.image-wrapper {
	display:block;
	width:120px;
	height:120px;
	padding:5px;
	border:1px solid gray;
	background-color:rgb(220,220,220);
	margin:1px;
	text-align:center;
	float:left;
}

img.related-image {
	max-width:120px;
	max-height:120px;
	vertical-align:middle;
}

/* testing
// gets overwritten by gmaps api
div#mini-map div div div div.gmnoprint div.gmnoprint {
	width:200px;
	height:100px;
}

// testing
div#mini-map div div div div.gmnoprint div.gmnoprint {
	border:1px solid black;
}
*/

div.geomarker-popup {
	max-height:75px;
	overflow:auto;
}

div.geomarker-popup p {
	margin-bottom:0;
	padding-bottom:0;
}

div.geomarker-popup ul {
	padding-top:0;
	margin-top:0;
	padding-left:0;
	list-style-position:inside;
}

div.geomarker-popup a {
	font-size:0.8em;
}

div#myuee {
	display:none;
	z-index:2;
	width:18%;
	padding:1%;
	height:100%;
	overflow:auto;
	position:fixed;
	left:80%;
	top:0;
	border-left:1px solid gray;
	background-color:rgb(230,230,230);
	font-size:0.8em;
}

*:lang(egy) { 
	font-family: "Trlit2_CG Times Italic", "Trlit_CG Times Italic", "Transliteration", serif;
}

div.column_half {
	padding:2%;
	width:46%;
	float:left;
}

div#mini-map {
	width:100%;
	height:250px;
	clear:both;
}

.clearfix {
	clear:both;
}

div#related-images-div {
	width:100%;
	float:left;
}

.figure {
	display:block;
	max-width:210px;
	padding:5px;
	text-align:center;
	margin-top:1em;
}

.figure img {
	padding:1px;
	border:1px solid gray; 
	background-color:white;
}

div.lightbox-layer {
width:960px;
height:100%;
margin:auto;
position:fixed;
top:0;
background-color:black;
text-align:center;
z-index:3;
display:none;
}

div.lightbox-layer p {
margin-top:2em;
text-align:center;
}

img.inline-lightbox {
border: 5px solid white;
width:auto;
display:block;
text-align:center;
background-color:white;
}

#leftcol > div:first-child {
width:14%;
}

#toc {
width:100%;
}

#toc ul { 
padding-left:0.5em;
margin-left:0;
}

#toc li {
list-style-position:outside;
list-style-type:none;
}

#toc a {
font-size:0.8em;
}

.lightbox-layer a,
.lightbox-layer a:hover,
.lightbox-layer a:focus,
.lightbox-layer a:active,
.lightbox-layer a:visited {
color:white;
font-style:italic;
}

p.loadtime {
font-size:0.8em;
}

a.glossref,
a.glossref:hover,
a.glossref:focus,
a.glossref:visited,
a.glossref:active {
	text-decoration:none;
	color:black;
	border-bottom:1px dotted rgb(100,100,100);
}

a.biblioref,
a.biblioref:hover,
a.biblioref:focus,
a.biblioref:visited,
a.biblioref:active {
	text-decoration:none;
	color:black;
	border-bottom:1px dashed rgb(100,100,100);
}