/* Banner */
#header #banner-wrapper {
background-image:url('/graphics/UEE_Banner_BG.jpg');
background-position:center center;
background-repeat:repeat-x;
height:125px;
}

#header #banner-wrapper #logo {
display:block;
margin:0 auto;
width:960px;
background-image:url('/graphics/UEE_BannerRev_Beta_new.jpg');
background-repeat:no-repeat;
height: 125px;
}

#header #banner-wrapper a img {
text-align:center;
margin:auto;
border:none;
}

