/* From front.css */

* {
font-family: Arial, Helvetica, "sans-serif";
}

body {
    font-size: 0.8em;
}


div#content * {
color:rgb(70,70,70);
}

div#welcome-column {
	width:33%;
	float:left;
	padding-right:1%;
	padding-top:1%;
	margin-top:0;
}

p#welcome-message {
	color:rgb(74,99,117);
	font-family:"Copperplate Gothic Light","Arial","sans-serif";
	font-size:1.7em;
	padding-bottom:0;
	margin-bottom:0;
	padding-top:0;
	margin-top:0;
}

p#welcome-close {
	padding-top:0;
	margin-top:0;
	font-size:0.9em;
	text-transform:uppercase;
	margin-bottom:0;
}

div#timemap {
	width:66%;
	padding:0%;
	padding-top:1%;
	float:left;
}

div#timemap h3 {
padding-top:0;
margin-top:0;
}

div#welcome-div {
	padding:1%;
	padding-top:0;
	padding-bottom:0;
	margin-bottom:0;
}

h3 {
	clear:both;
	color:rgb(74,99,117);
	font-size:0.9em;
	font-stretch:ultra-condensed;
	width:95%;
}

#content h3 a {
	color:rgb(74,99,117);
	text-transform:uppercase;
	text-decoration:none;
}

#content h3 a:hover, #content h3 a:focus {
	text-decoration:underline;
}

div#subject-browse {
	padding:1%;
	padding-top:0.5em;
	padding-bottom:2em;
	clear:both;
}

ul#subject-list {
	padding:0;
	margin:0;
}

ul#subject-list li {
	float:left;
	width:48%;
	padding:1%;
	padding-top:1.5%;
	padding-bottom:1.5%;
	display:inline;
}

ul#subject-list li a {
	text-decoration:none;
	border:none;
	color:black;
	font-size:0.8em;
	display:block;
	padding:0;
	margin:0;
}

ul#subject-list li a img{
max-width:135px;
}

div#content input[type="submit"] {
color:rgb(74,99,117);
background-color:white;
padding:5px;
font-size:0.8em;
text-transform:uppercase;
font-weight:bold;
float:right;
cursor:pointer;
-webkit-border-radius:5px;
-moz-border-radius:5px;
-webkit-box-shadow: 4px 4px 2px #888; 
-moz-box-shadow: 4px 4px 2px #888; 	
}

*:lang(egy) { 
	font-family: "Trlit2_CG Times Italic", "Trlit_CG Times Italic", "Transliteration", serif;
}

#content form {
display:inline;
float:right;
padding-top:2em;
padding-left:1em;
}

#timemap-image {
width:100%;
}

/* Wordpress styles below ... */

body {
padding:0;
margin:0;
background: #464646;
line-height: 140%;
font-size: 1em;
}

body #wrapper {
width:100%;
margin:auto;
background: white;
}

body * {
font-family: Arial, Helvetica, "sans-serif";

}

body a {
color:#7B96B1;
color:#5D737C;

}

a img {
	border:none;
}

div.clearfix {
	clear:both;
}

div.column_half {
	padding:2%;
	width:46%;
	float:left;
}
div#head {
	background: #fff;
}

p {
	margin: 1% 0;
}



/* Content area */
div#content {
clear:both;
width:960px;
margin:auto;
padding-top:2%;
padding-bottom:2%;

min-height:550px;
}

div#content * {
color:rgb(70,70,70);
}

article.post {
	padding: 3% 0px;
	border-bottom: 1px solid #eee;
}

/* front.css */
/* css for all public facing pages */

* {
font-family: Arial, Helvetica, "sans-serif";
}


div#content * {
color:rgb(70,70,70);
}



/* Originally there */