@import "./banner.css";
@import "./common.css";

div#toprow {
	padding:2% 1%;
	width:68%;
	float:left;
}

div#featured {
	clear:both;
}

div#featured span.wrapper
{
	width:630px;
	height:630px;
	padding:5px;
	border:1px solid black;
	display:block;
	background-color:rgb(220,220,220);
	text-align:center;
}

div#featured span.wrapper img {
	max-height:630px;
	max-width:630px;
}

div#featured a {
	font-size:0.8em;
}

div#buttons {
	padding-top:2%;
	padding-bottom:1%;
	float:left;
	display:block;
	vertical-align:text-bottom;
	font-size:0.8em;
}

div#buttons input {
	text-transform:uppercase;
}

div#imageresults {
	width:28%;
	float:left;
	padding:1%;
}

div#imageresults h3 {
	padding-bottom:0;
	margin-bottom:0;
}

span#imagecount {
	padding-top:0;
	margin-top:0;
	font-style:italic;
	font-size:0.8em;
}

a.image-wrapper {
	display:block;
	width:120px;
	height:120px;
	padding:5px;
	border:1px solid gray;
	background-color:rgb(220,220,220);
	margin:1px;
	text-align:center;
	float:left;
}

img.related-image {
	max-width:120px;
	max-height:120px;
	vertical-align:middle;
}

div#enlarged-image-wrapper {
	z-index:2;
	width:100%;
	background-color:black;
	opacity:0.9;
	position:absolute;
	top:0;
	left:0;
	display:none;
	vertical-align:middle;
}

div#enlarged-image {
	width:960px;
	margin:auto;
	text-align:center;
	color:white;
	opacity:1.0;
}

div#enlarged-image a {
	color:white;
	text-align:right;
}

div#enlarged-image img {
	z-index:4;
	opacity:1.0;
	background-color:white;
	border: 1px solid black;
	padding:5px;
}