@import "./banner.css";
@import "./common.css";

* {
font-family: Arial, Helvetica, "sans-serif";
}

div#content {
	font-size:0.8em;
	color:rgb(70,70,70);
}

div#content div#leftcol {
	width:32%;
	padding:2%;
	padding-right:1%;
	padding-left:0;
	padding-top:0;
	float:left;
}

div#content #welcome-div {
padding-top:1em;
padding-bottom:1em;
}

#content form {
	padding-top: 0;
	float:left;
}

div#content p#welcome-message {
	color:rgb(74,99,117);
	font-family:"Arial","sans-serif";
	font-size:1.7em;
	padding-bottom:0;
	margin-bottom:0;
	padding-top:0;
	margin-top:0;
}

div#content p#welcome-close {
	padding-top:0;
	margin-top:0;
	font-size:0.9em;
	text-transform:uppercase;
	margin-bottom:0;
	color:rgb(70,70,70);
}

div#content #myueeform .block {
display:block;
padding-bottom:0.2em;
}

div#content div#rightcol {
	width:63%;
	padding:3%;
	border-left:1px solid rgb(220,220,220);
	padding-right:0;
	padding-top:0;
	float:left;
}

div#content  ul {
list-style-type: none;
padding: 0px;
margin: 0px;
}

div#content li {
background-image: url('/graphics/Bullet_Blank.png');
background-repeat: no-repeat;
background-position: 0px 50%; 
padding-left: 1em;
padding-top:0.2em;
padding-bottom:0.2em;
}

div#content h3 {
	color:rgb(74,99,117);
	font-family:"Arial";
	text-transform:uppercase;
	font-size:0.9em;
	padding-top:0.5em;
}

#content a, #content a:hover, #content a:focus, #content a:active {
	color:rgb(105,128,140);
	color:#5D737C;
	font-weight:normal;
}

