@import "./banner.css";
@import "./common.css";

#content * {
color:rgb(70,70,70);
}

#content h3 {
	clear:both;
	color:rgb(74,99,117);
	width:95%;
	text-transform:uppercase;
	font-size:0.8em;
	padding-top:0;
	margin-top:0;
	font-weight:bold;
}

div#content ul#titles {
list-style-type: none;
padding: 0px;
margin: 0px;
}

div#content ul#titles li {
background-image: url('/graphics/Bullet_Blank.png');
background-repeat: no-repeat;
background-position: 0px 50%;
padding-left: 1em;
padding-top:0.1em;
padding-bottom:0.1em;
font-size:0.8em;
}


div#content ul#titles li a {
	color:rgb(70,70,70);
	text-decoration:none;
}

div#content ul#titles li:hover, div#content ul#titles li:focus, div#content ul#titles li:active {
	color:#5D737C;
background-image: url('/graphics/Bullet_Filled.png');
text-decoration:underline;
}


div#content div#brief h3 {
	font-size:1em;
	color:rgb(70,70,70);
	text-transform:none;
}

div#content div#brief p, div#brief form input[type='submit']  {
	font-size:0.8em;
}

div#content p#arabic_abstract {
	direction:rtl;
}

div#content div#results {
	width:46%;
	padding:2%;
	border-right:1px solid rgb(220,220,220);
	float:left;
}

div#content div#brief {
	width:46%;
	padding:1%;
	padding-top:2%;
	border-left:1px solid rgb(220,220,220);
	float:left;
}

div#content div#showinitial {
	display:none;
}

div#content *:lang(egy) {
	font-family: "Trlit2_CG Times Italic", "Trlit_CG Times Italic", "Transliteration", serif;
}

#content div#brief h3.english-title {
	font-size: 1.5em;
	font-weight:bold;
}

#author {
	font-weight: bold;
	margin-top: 10px;
}
