#content * {
color:rgb(70,70,70);
}

.hasChildren{
	background-image: url('/graphics/Expand.png');
	padding-left: 2em;
	background-repeat: no-repeat;
	padding-bottom: 0.2em;
	padding-top: 0.2em;
}
.hasNoChildren{
	padding-left: 2em;
}
div#content h3 {
	clear:both;
	color:rgb(74,99,117);
	width:95%;
	text-transform:uppercase;
	font-size:0.8em;
	padding-top:0;
	margin-top:0;
	font-weight:bold;
}

div#content ul#subjects {
list-style-type: none;
padding: 0px;
margin: 0px;
}

div#content ul#subjects li {
background-repeat: no-repeat;
background-position: 0% 0%;
/*padding-left: 2em;*/
padding-top:0.2em;
padding-bottom:0.2em;
}

div#content ul#subjects li.endnode {
	list-style-type:none;
}

div#content ul#subjects li.toplevel {
	list-style-type:none;
	font-size:0.8em;
}

div#content ul#subjects li a {
	color:rgb(105,128,140);
	text-decoration:none;
}

div#content ul#subjects li a.selected {
	text-decoration:underline;
}

div#content ul#subjects li a:hover, div#content ul#subjects li a:focus, div#content ul#subjects li a:active {
	color:rgb(105,128,140);
	color:#5D737C;
	text-decoration:underline;
}

div#content ul#subjects ul {
padding-left:1.5em;
margin-left:0;
list-style-type:none;
}

div#content ul#subjects ul:hover {
margin-left:0;
}

div#content div#brief h3 {
	font-size:1em;
	color:rgb(70,70,70);
	text-transform:none;
}

div#content div#brief p, div#content div#brief form input[type='submit']  {
	font-size:0.8em;
}

div#content p#arabic_abstract {
	direction:rtl;
}

div#content div#subjectindex {
	width:46%;
	padding:1%;
	padding-top:2%;
	border-right:1px solid rgb(220,220,220);
	float:left;
}

div#content div#brief {
	width:46%;
	padding:2%;
	float:left;
}

div#content div#showinitial {
	display:none;
}

div#content *:lang(egy) {
	font-family: "Trlit2_CG Times Italic", "Trlit_CG Times Italic", "Transliteration", serif;
}

