@import "./banner.css";
@import "./common.css";


div.geomarker-popup {
	font-size:0.8em;
}

div.geomarker-popup ul {
	padding-left:0;
	list-style-position:inside;
}

div#search-map {
	padding:2%;
	padding-top:0;
	padding-bottom:0;
}

div#time-slider {
	padding:1%;
	padding-top:0;
}

div#min-time-period, div#max-time-period {
	width:10%;
	float:left;
	padding-top:5px;
}

div#max-time-period {
	text-align:right;
}

div#slider {
	width:96%;
	margin-left:1%;
	margin-right:3%;
	float:left;
	margin-top:0.5em;
	margin-bottom:0.1em;
}

div#timeline-markers {
	padding-left:1%;
	padding-right:3%;
}

div#phases, div#dynasties, div#rulers {
	width:100%;
	float:left;
}

div#marker-queries {
	margin:1%;
	border:1px solid black;
	display:none;
}

div#time-map-wrapper {
	clear:both;
	padding:1em;
}

div#marker-details-box {
	width:15em; 
	float:left;
	font-size:0.8em;
}

div#time-map {
	width:920px; 
	height:460px; 
	border:1px solid black; 
	float:left;
}

a.phase-link {
	height:10px;
	display:block;
	border:1px solid black;
	margin:1px;
	float:left;
	text-decoration:none;
	background-color:rgb(230,230,230);
	text-align:center;
}

a.phase-hover {
	background-color:#EFC18D;
}

a.phase-selected {
	background-color:#4A6375;
}

a.dynasty-link {
	height:10px;
	display:block;
	border:1px solid black;
	margin:1px;	
	float:left;
	text-decoration:none;
	background-color:rgb(230,230,230);
}

a.dynasty-hover {
	background-color:#EFC18D;
}

a.dynasty-selected {
	background-color:#4A6375;
}

a.ruler-link {
	height:10px;
	display:block;
	border:1px solid black;
	margin:1px;	
	float:left;
	text-decoration:none;
	background-color:rgb(230,230,230);
}

a.ruler-hover {
	background-color:#EFC18D;
}

a.ruler-selected {
	background-color:#4A6375;
}

#breadcrumbs, 
#timeline-breadcrumbs {
display:inline-block;
padding-right:1em;
}

#breadcrumbs {
font-size:0.8em;
}

#timemap-utils {
clear:both;
padding:1%;
text-align:left;
}

#reset-timeline {
display:inline-block;
float:right;
padding-left:1em;
}

