div.geomarker-popup {
	font-size:0.8em;
}

div.geomarker-popup ul {
	padding-left:0;
	list-style-position:inside;
}

div#search-map {
	padding:2%;
	padding-top:0;
	padding-bottom:0;
}

div#time-slider {
	padding:1%;
	padding-top:0;
}

div#min-time-period, div#max-time-period {
	width:10%;
	float:left;
}

div#max-time-period {
	text-align:right;
}

div#slider {
	width:98%;
	padding-left:1%;
	padding-right:1%;
	float:left;
	margin-top:0.3em;
	margin-bottom:0.1em;
}

div#timeline-markers {
	padding-left:0%;
	padding-right:3%;
}

div#phases, div#dynasties, div#rulers {
	width:100%;
	float:left;
	height:2em;
}

div#marker-queries {
	margin:1%;
	border:1px solid black;
	display:none;
}

div#time-map-wrapper {
	clear:both;
	padding:1%;
}

div#marker-details-box {
	width:15em; 
	float:left;
	font-size:0.8em;
}

div#time-map {
	width:920px; 
	height:460px; 
	border:1px solid black; 
	float:left;
}

div#phases {
	position:relative;
}

a.phase-link, a.dynasty-link, a.ruler-link {
	height:3em;
	display:block;
	border:1px solid black;
	margin:0;
	float:left;
	text-decoration:none;
	text-align:center;
	background-color:rgb(230,230,230);
	font-size:0.6em;
	font-weight:bold;
	color:black;
}

a.timesection_red {
	background-color:rgb(255,224,224);
}

a.timesection_blue {
	background-color:rgb(224,224,255);
}

a.timesection_green {
	background-color:rgb(224,255,224);
}

a.timesection_yellow {
	background-color:rgb(255,255,224);
}

div.ui-slider div.ui-slider-handle, div.ui-slider a.ui-slider-handle {
	width:0.5em;
	color:rgb(150,150,150);
}

input#max-time-period-val, input#min-time-period-val {
	border:none;
	font-size:0.6em;
	font-weight:bold;
}

input#min-time-period-val {
	left:0;
}

div#search-map {
	margin-top:0;
	padding-top:0;
}

div#search-map, div#search-map input {
	font-size:0.8em;
}

div #search-map label[for="keyword"] {
	display:none;
}
