div.geomarker-popup {
	font-size:0.8em;
}

div.geomarker-popup ul {
	padding-left:0;
	list-style-position:inside;
}

div#search-map {
	padding:2%;
	padding-top:0;
	padding-bottom:0;
}

div#time-slider {
	padding:1%;
	padding-top:0;
}

div#min-time-period, div#max-time-period {
	width:10%;
	float:left;
	padding-top:5px;
}

div#max-time-period {
	text-align:right;
}

div#slider {
	width:96%;
	margin-left:1%;
	margin-right:3%;
	float:left;
	margin-top:0.5em;
	margin-bottom:0.1em;
}

div#timeline-markers {
	padding-left:1%;
	padding-right:3%;
}

div#phases, div#dynasties, div#rulers {
	width:100%;
	float:left;
}

div#marker-queries {
	margin:1%;
	border:1px solid black;
	display:none;
}

div#time-map-wrapper {
	clear:both;
	padding:1em;
}

div#marker-details-box {
	width:15em; 
	float:left;
	font-size:0.8em;
}

div#time-map {
	width:920px; 
	height:460px; 
	border:1px solid black; 
	float:left;
}

div#search-map form#search-map-form label {
	font-size:0.8em;
}

label#view-status {
	padding-left:1%;
	padding-right:1%;
	text-align:left;
	font-weight:bold;
	float:left;
}

label#search-status {
	padding-left:1%;
	padding-right:1%;
	text-align:left;
}

div#search-map form#search-map-form input {
	font-size:0.6em;
}