@import "./banner.css";
@import "./common.css";

#content * {
color:rgb(70,70,70);
}

#content h3 {
	clear:both;
	color:rgb(74,99,117);
	width:95%;
	text-transform:uppercase;
	padding-top:0;
	margin-top:0;
}

#results a {
	color:rgb(105,128,140);
	color:#5D737C;
}

#content p {
	font-size:0.8em;
}

#content #sort-wrapper {
padding-bottom:0;
margin-bottom:0;
}

#content .letter-filter {
font-size:0.8em;
}

#content ul.titles {
	clear:both;
list-style-type: none;
padding: 0px;
margin: 0px;	
}

#content ul.titles li {
background-image: url('/graphics/Bullet_Blank.png');
background-repeat: no-repeat;
background-position: 0px 50%; 
padding-left: 1em;
padding-top:0.1em;
padding-bottom:0.1em;
font-size: 0.8em;
}

#content ul.titles li a {
	color:rgb(70,70,70);
	text-decoration:none;

}

#content ul.titles li:hover, #content ul.titles li:focus, #content ul.titles li:active {
background-image: url('/graphics/Bullet_Filled.png');
}

#content ul.titles li a:hover, #content ul.titles li a:focus, #content ul.titles li a:active {
	color:rgb(105,128,140);
	color:#5D737C;
	text-decoration:underline;
}

#content div#brief h3 {
	font-size:1em;
	color:rgb(70,70,70);
	text-transform:none;
}

#content div#brief form input[type='submit']  {
	font-size:0.8em;
}

#content p#arabic_abstract {
	direction:rtl;
	padding-bottom:0;
	margin-bottom:0;
}

#content ul#titles-arabic {
direction:rtl;
}

#content *:lang(egy) { 
	font-family: "Trlit2_CG Times Italic", "Trlit_CG Times Italic", "Transliteration", serif;
}

#content #results {
padding-left:0;
padding-right:0;
padding-top:0;
margin-top:2%;
width:49%;
border-right:1px solid rgb(220,220,220);
}

#content #brief input[type="submit"] {
background-color:white;
-webkit-border-radius:5px;
-moz-border-radius:5px;
-webkit-box-shadow: 4px 4px 2px #888; 
-moz-box-shadow: 4px 4px 2px #888; 
}

#content div#brief h3.english-title {
    font-size: 1.5em;
	font-weight:bold;
}

#author {
	font-weight: bold;
	margin-top: 10px;
}
